step_function_definition/maquinaOrquestadora.yaml
Transform: AWS::Serverless-2016-10-31
Resources:
  StateMachine04d34134:
    Type: AWS::Serverless::StateMachine
    Properties:
      Definition:
        Comment: A description of my state machine
        StartAt: getHealthData
        States:
          getHealthData:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Output: '{% $states.result.Payload %}'
            Arguments:
              FunctionName: ${lambdainvoke_FunctionName_85cf72a1}
              Payload: '{% $states.input %}'
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: get_ree_data
          get_ree_data:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Output: '{% $states.result.Payload %}'
            Arguments:
              FunctionName: ${lambdainvoke_FunctionName_d009c529}
              Payload: '{% $states.input %}'
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: Obtener lista de sensores
          Obtener lista de sensores:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Output: '{% $states.result.Payload %}'
            Arguments:
              FunctionName: ${lambdainvoke_FunctionName_c0d738e6}
              Payload: '{% $states.input %}'
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: DividirSensoresEnLotes
          DividirSensoresEnLotes:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Output: '{% $states.result.Payload %}'
            Arguments:
              FunctionName: ${lambdainvoke_FunctionName_ee6d2879}
              Payload: '{% $states.input %}'
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
                JitterStrategy: FULL
            Next: Map
          Map:
            Type: Map
            ItemProcessor:
              ProcessorConfig:
                Mode: INLINE
              StartAt: OpenAQStepFunction
              States:
                OpenAQStepFunction:
                  Type: Task
                  Resource: arn:aws:states:::states:startExecution.sync:2
                  Arguments:
                    StateMachineArn: ${statesstartExecution_StateMachineArn_75cde775}
                    Input: '{% $states.input %}'
                  End: true
            MaxConcurrency: 1
            Next: Datalake
          Datalake:
            Type: Task
            Resource: arn:aws:states:::glue:startJobRun
            Arguments:
              JobName: ${gluestartJobRun_JobName_1b27513f}
            End: true
        QueryLanguage: JSONata
      DefinitionSubstitutions:
        lambdainvoke_FunctionName_85cf72a1: arn:aws:lambda:us-east-1:533267130424:function:getHealthData
        lambdainvoke_FunctionName_d009c529: arn:aws:lambda:us-east-1:533267130424:function:get_ree_data
        lambdainvoke_FunctionName_c0d738e6: arn:aws:lambda:us-east-1:533267130424:function:get_openaq_sensors
        lambdainvoke_FunctionName_ee6d2879: arn:aws:lambda:us-east-1:533267130424:function:DividirSensoresEnLotes
        statesstartExecution_StateMachineArn_75cde775: arn:aws:states:us-east-1:533267130424:stateMachine:OpenAQStepFunction
        gluestartJobRun_JobName_1b27513f: OpenAQ_ETL
      Name: StateMachine04d34134
      Type: STANDARD
      Role:
        Fn::GetAtt:
          - Role40da8111
          - Arn
      Logging:
        Level: 'OFF'
        IncludeExecutionData: false
  Role40da8111:
    Type: AWS::IAM::Role
    Properties:
      RoleName: StepFunctions_IAM_ROLE_ProcesarTodosLosSensores-Orchest51d20a67
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
                - events.amazonaws.com
                - states.amazonaws.com
            Action: sts:AssumeRole
      MaxSessionDuration: 3600
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AWSGlueConsoleFullAccess
  Policyd9066694:
    Type: AWS::IAM::RolePolicy
    Properties:
      PolicyName: AWSLambdaBasicExecutionRole44ed8527
      RoleName:
        Ref: Role40da8111
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action: logs:CreateLogGroup
            Resource: arn:aws:logs:us-east-1:533267130424:*
          - Effect: Allow
            Action:
              - logs:CreateLogStream
              - logs:PutLogEvents
            Resource:
              - >-
                arn:aws:logs:us-east-1:533267130424:log-group:/aws/lambda/read_csv_from_s3:*
  Policyf1d414c1:
    Type: AWS::IAM::RolePolicy
    Properties:
      PolicyName: AWSLambdaS3ExecutionRolec189e380
      RoleName:
        Ref: Role40da8111
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - s3:GetObject
              - s3:ListBucket
              - s3:ListAllMyBuckets
            Resource: arn:aws:s3:::*
  Policy369d9f2c:
    Type: AWS::IAM::RolePolicy
    Properties:
      PolicyName: AWSGlueConsoleRoleInlinePolicy96ca0791
      RoleName:
        Ref: Role40da8111
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - s3:GetObject
              - s3:ListBucket
              - s3:PutObject
            Resource:
              - arn:aws:s3:::tfm-ucm/*
              - arn:aws:s3:::tfm-ucm
  Policy73301983:
    Type: AWS::IAM::RolePolicy
    Properties:
      PolicyName: GetSecretValue66e805be
      RoleName:
        Ref: Role40da8111
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - secretsmanager:GetSecretValue
            Resource:
              - '*'
  Policye0ebcb85:
    Type: AWS::IAM::RolePolicy
    Properties:
      PolicyName: glue_BatchCreatePartition6b3860cb
      RoleName:
        Ref: Role40da8111
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - glue:BatchCreatePartition
            Resource:
              - arn:aws:glue:us-east-1:533267130424:catalog
              - arn:aws:glue:us-east-1:533267130424:database/tfm-ucm
              - arn:aws:glue:us-east-1:533267130424:table/tfm-ucm/measurments
              - arn:aws:glue:us-east-1:533267130424:table/tfm-ucm/locations
              - arn:aws:glue:us-east-1:533267130424:table/tfm-ucm/parameters
  Policycf744e85:
    Type: AWS::IAM::RolePolicy
    Properties:
      PolicyName: glue_GetTable2ad1394c
      RoleName:
        Ref: Role40da8111
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - glue:GetTable
            Resource:
              - arn:aws:glue:us-east-1:533267130424:catalog
              - arn:aws:glue:us-east-1:533267130424:database/tfm-ucm
              - arn:aws:glue:us-east-1:533267130424:table/tfm-ucm/measurments
              - arn:aws:glue:us-east-1:533267130424:table/tfm-ucm/parameters
              - arn:aws:glue:us-east-1:533267130424:table/tfm-ucm/locations
  Policy17469f5a:
    Type: AWS::IAM::RolePolicy
    Properties:
      PolicyName: lambda_InvokeFunction1023eaf6
      RoleName:
        Ref: Role40da8111
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - lambda:InvokeFunction
            Resource:
              - >-
                arn:aws:lambda:us-east-1:533267130424:function:get_openaq_sensors
              - arn:aws:lambda:us-east-1:533267130424:function:get_open_aq_data
              - >-
                arn:aws:lambda:us-east-1:533267130424:function:get_open_aq_data:$LATEST
              - arn:aws:lambda:us-east-1:533267130424:function:getHealthData
              - arn:aws:lambda:us-east-1:533267130424:function:get_ree_data
              - >-
                arn:aws:lambda:us-east-1:533267130424:function:DividirSensoresEnLotes
  Policy44fbe299:
    Type: AWS::IAM::RolePolicy
    Properties:
      PolicyName: logsc6553852
      RoleName:
        Ref: Role40da8111
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - logs:CreateLogDelivery
              - logs:GetLogDelivery
              - logs:UpdateLogDelivery
              - logs:DeleteLogDelivery
              - logs:ListLogDeliveries
              - logs:PutResourcePolicy
              - logs:DescribeResourcePolicies
              - logs:DescribeLogGroups
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
            Resource: '*'
  Policya08d3646:
    Type: AWS::IAM::RolePolicy
    Properties:
      PolicyName: readfc1390b1
      RoleName:
        Ref: Role40da8111
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: VisualEditor0
            Effect: Allow
            Action:
              - s3:PutObject
              - s3:GetObject
              - s3:ListBucket
              - s3:DeleteObject
            Resource: arn:aws:s3:::tfm-ucm/*
  Policy9eb7d0ae:
    Type: AWS::IAM::RolePolicy
    Properties:
      PolicyName: StepFunction9bb70cf5
      RoleName:
        Ref: Role40da8111
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: VisualEditor0
            Effect: Allow
            Action:
              - states:RedriveExecution
              - states:DescribeExecution
              - states:StartExecution
              - states:StopExecution
              - events:PutTargets
              - events:PutRule
              - events:DescribeRule
            Resource:
              - arn:aws:states:*:533267130424:express:*:*:*
              - arn:aws:states:*:533267130424:stateMachine:*
              - arn:aws:states:*:533267130424:execution:*:*
              - >-
                arn:aws:states:us-east-1:533267130424:stateMachine:OpenAQStepFunction
              - >-
                arn:aws:events:us-east-1:533267130424:rule/StepFunctionsGetEventsForStepFunctionsExecutionRule
              - arn:aws:lambda:us-east-1:533267130424:function:getHealthData
              - arn:aws:lambda:us-east-1:533267130424:function:get_ree_data
              - >-
                arn:aws:lambda:us-east-1:533267130424:function:DividirSensoresEnLotes
